<!DOCTYPE html>
<html>
<head>
    <title>Список авторов</title>
</head>
<body>
    <h1>Список авторов</h1>

    <form method="get">
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>

    <h2>Нет вашего автора? <a href="{% url 'add_author' %}">Добавить</a></h2>

    <ul>
        {% if authors %}
            {% for author in authors %}
                <li>
                    <a href="{% url 'author_detail' author.id %}">{{ author.name }}</a>
                    <a href="{% url 'add_book_with_author' author.id %}">Добавить книгу</a>
                </li>
            {% empty %}
                <li>Авторы не найдены.</li>
            {% endfor %}
        {% else %}
            <li>Введите фамилию для поиска.</li>
        {% endif %}
    </ul>

    <a href="{% url 'home' %}">На главную</a>
    <a href="{% url 'book_list' %}">К списку книг</a>
</body>
</html>
